@using System.Web.Mvc.Html
@inherits System.Web.Mvc.WebViewPage<DataMigration.AdminTools.VsfDataMigrationTool.ViewModels.VsfDataMigrationViewModel>
@{
    Layout = null;
}

<h1>@Model.Text</h1>

@Html.ActionLink("Migrate Products", "MigrateProducts", "VsfDataMigration")
@Html.ActionLink("Migrate Categories", "MigrateCategories", "VsfDataMigration")
@Html.ActionLink("Migrate Attributes", "MigrateAttributes", "VsfDataMigration")
@Html.ActionLink("Migrate All", "MigrateAll", "VsfDataMigration")